<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" type="text/css" href="/css/list/style.css">
    <meta charset="UTF-8">
    <title>Liste des Morceaux</title>
</head>
<body>
    <h1>Liste des Morceaux</h1>

    <!-- Formulaire de recherche -->
    <form action="/music" method="get">
        <input type="text" name="query" placeholder="Rechercher des morceaux..." value="<%= query || '' %>">
        <button type="submit">Rechercher</button>
    </form>

    <!-- Affichage des musiques -->
    <ul>
        <% musics.forEach(music => { %>
            <li>
                <div class="album-info">
                    <%= music.title %> - <%= music.artist ? music.artist.name : 'Artiste inconnu' %>
                </div>
                <div class="btn-group">
                    <a class="btn btn-edit" href="/music/edit/<%= music._id %>">Éditer</a>
                    <form action="/music/delete/<%= music._id %>" method="POST">
                        <button class="btn btn-delete" type="submit">Supprimer</button>
                    </form>
                </div>
            </li>
        <% }); %>        
    </ul>
</body>
</html>
